
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
}

 * {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
 }
body {
  margin: 0;
  padding: 0;
}

.portal-initial {
  transform: translateX(-100px);
  -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
  transition: transform 1s ease; 
}

/* .portal-initial.move-to-original {
  transform: translateX(0);
} */
.move-to-original:hover {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
}